body {
    background-color: #fafafa;
}
.smiley {
	margin-left: 1000px;
    }
.customnavbar{
	margin-left: 365px;
	font-size: 20px;
}
.writing{
        font-family: 'Ubuntu';
	font-size: 20px;
	color: violet;
}
.adddomain{
	margin-top: 10px;
        margin-left: 185px;
        font-size: 1.4em;
        color: #979797;
}
.aflex1{
	display: flex;
	margin-top: 20px;
	margin-left: 165px
}

.options-block {
	background-color: white;
	height: 250px;
    width: 300px;
	display:block;
	margin: 10px 20px;
	border: 1px solid #e4e4e4;
}
.registerdomainbtn{
	margin-left: 80px;
	margin-top:57px;

}
.transferdomainbtn{
	margin-left: 80px;
	margin-top: 40px;

}
.servicedomainbtn{
	margin-left: 80px;
	margin-top: 40px;
}
.p11{

   margin-top: 40px;
   margin-left: 90px;
}
.p22{

     color: #979797;
	 margin-left: 50px;
}






