// Place all the styles related to the dns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#card{
	width: 200%;
	margin-left: 20px;
}
.sideset{
	margin-left: -18px;
}
#ttl{
	    margin-left: 180px;
	    }
#left{
	    margin-left: -30px;
}
#bullet{
	    margin-top: 10px;
}
.disable{
	margin-left: -440px;
}
#rm{
	margin-left:10px;
}