// Place all the styles related to the email_forwardings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#cl{
	margin-left: 20%;
    width: 150%;
}
#sm{
	margin-left:220px;
}
#ttl{
	margin-left:220px;
}