// Place all the styles related to the hostings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#continue1{
	margin-left: 230px;
    color: #fff;
    background: #1A5EC6;
    border-color: #144999;
    text-shadow: none;
}